# Terraform local state
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files (rare, but should not be committed)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Generated content
generated_pipeline.yaml
generated_x-account-rds-iam-policy.json
